<!-- Component: Reading - Nav (buttons) -->
<template id="reading-nav-template">
  

  <div id="reading-nav" class="reading-nav">
    <div id="nav-controls-reading" class="nav-controls-reading">
      <button id="reset-btn-reading" class="btn-icon" title="Selectează din nou">↻</button>
      <button id="prev-btn-reading" class="btn-icon" title="Versiculul anterior">←</button>
      <button id="next-btn-reading" class="btn-icon" title="Versiculul următor">→</button>
    </div>
  </div>
</template>
