<!-- Component: Selection - Left (selectors) -->
<template id="selection-left-template">
  <div id="selection-left" class="selection-left">
    <div id="reference-display-left">
      <div id="book-selector" class="selector-wrapper">
        <span class="main-label">Carte</span>
        <h1 id="selected-book" class="big-text">Selectează</h1>
        <div id="book-dropdown" class="dropdown-content"></div>
      </div>

      <div id="chapter-verse-container-left">
        <div id="chapter-selector" class="selector-wrapper inline-selector" data-disabled="true">
          <span class="main-label">Capitol</span>
          <h2 id="selected-chapter" class="small-text">0</h2>
          <div id="chapter-dropdown" class="dropdown-content"></div>
        </div>

        <div id="verse-selector" class="selector-wrapper inline-selector" data-disabled="true">
          <span class="main-label">Verset</span>
          <h2 id="selected-verse" class="small-text">0</h2>
          <div id="verse-dropdown" class="dropdown-content"></div>
        </div>
      </div>
    </div>
  </div>
</template>
